<style>
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  caption, tbody, tfoot, thead {margin: 0; padding: 0; border: 0;}

  a {
    color: <%= @primary_color %>;
    text-decoration: none;
  }

  
  b {color: <%= @secondary_color %>;}
  
  body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 15px;     
    padding: 10px 0 0 0; 
  }
  
  #widget_container {
  	background: url(/images/widget/widget.png) no-repeat 0 -105px;
  	height: 480px;
  	overflow: hidden;
  	padding: 14px 0 28px 0;
  	position: relative;
  	width: 320px;
  	margin: 0 auto;
  }
  #widget_container ul {
    height: 450px;
    border-left: 1px solid #c4d0d8; 
    border-right: 1px solid #c4d0d8;                         
    list-style: none;
    margin-top: 15px;
    position: absolute;
    width: 308px;
  }
  #widget_container ul li {
    border-bottom: 1px solid #ededed;     
    height: 39px;
    padding: 5px 25px 5px 5px; 
    position: relative;
  }
  #widget_container ul li .arrowholder {
    display: block;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
  }
  #widget_container ul li a {
    display: block;
  }
  #widget_container ul li a.arrow {
    background: url(/images/widget/widget.png) no-repeat 0 -50px;
    display: block;
    height: 14px;
    outline: 0;
    position: absolute;
    right: 5px;
    top: 18px;
    width: 14px;
  }
  #widget_container ul li:hover { background: #f1f1f1; }
  #widget_container ul li:hover .arrowholder { background-color: #ececec; }
  #widget_container ul li.odd { background: #f6f6f6; }
  #widget_container ul li .full { display: none; }
  
  #widget_container .load {
    border-top: 1px solid #ddd; 
    border-right: 1px solid #c4d0d8;           
    border-bottom: 1px solid #ddd; 
    border-left: 1px solid #c4d0d8;            
    display: block;
    height: 13px;
    left: 5px;
    position: absolute;
    text-indent: -9999px;
    width: 308px;
   } 
   #widget_container .load:hover { background: #e9e9e9;}
  #widget_container #prev_entries { top: 14px; }
  #widget_container #next_entries { bottom: 28px; }  
  #widget_container #prev_entries span, 
  #widget_container #next_entries span {
    display: block;
    height: 9px;
    left: 150px;
    position: absolute;
    top: 2px;
    width: 11px;
  }
  #widget_container #prev_entries span { background: url(/images/widget/widget.png) no-repeat -295px -64px; }
  #widget_container #next_entries span { background: url(/images/widget/widget.png) no-repeat -311px -64px; }
  
  #widget_footer {
  	background: url(/images/widget/widget.png) no-repeat 0 0;	
  	bottom: 0;
  	height: 28px;
  	position: absolute;
  	width: 320px;	
  	text-indent: -9999px;
  }
  #widget_footer a {
    background: url(/images/widget/widget.png) no-repeat 0 -29px;
    bottom: 3px;
    display: block;
    height: 21px;
    left: 10px;
  	position: absolute;    
  	width: 105px;
  }
  #widget_footer p {
    background: url(/images/widget/widget.png) no-repeat -165px -33px; 
    bottom: 6px;   
    display: block;
    height: 12px;
  	position: absolute;   
  	right: 10px; 
  	width: 146px;  	
  }  
  
  #widget_border {
    border-left: 5px solid #dde5ea;        
    border-right: 5px solid #dde5ea;
  }
  
  #widget_container #info_pane {
    display: block;
    left: 320px;    
    position: absolute;
    top: 0;
    height: 460px;
    width: 310px;  
    
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;  
  }
  #widget_container #info_content {
    padding: 10px;
  }
  #widget_container #info_content dt {
    border-bottom: 1px solid #ccc;
    /*color: #fa6900;*/
    color: #39505e;
    font-weight: bold;
    margin-bottom: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
  }
  
  #widget_container #info_content dd {
    color: #39505e;
    margin: 0 0 1em 0;
  }
  
  #widget_wrapper {
    position: relative;
    height: 480px;
    width: 640px;
  }
  
  #widget_nav { height: 35px; }   
  #widget_nav #back {
    background: url(/images/widget/widget.png) no-repeat left -64px; 
    display: block;
    height: 26px;
    float: left;
    margin: 10px 0 0 10px;
    outline: none;    
    text-indent: -9999px;
    width: 57px;    
  } 
  #widget_nav #back:hover { background-position: -58px -64px; }
  #widget_nav #view_entry {
    background: url(/images/widget/widget.png) no-repeat -116px -64px;     
    display: block;
    height: 26px;
    float: right;
    margin: 10px 10px 0 0;
    outline: none;    
    text-indent: -9999px;    
    width: 88px;        
  } 
  #widget_nav #view_entry:hover {  background-position: -205px -64px; } 
  
  #widget_nav #back:active,
  #widget_nav #view_entry:active { outline: none; }   
  
  #widget_content {
    padding: 10px;
    display: block;
    left: 320px;    
    position: absolute;
    top: 0;
    height: 460px;
    width: 290px;      
  }
  
</style>


<%# sassify do %>
<!-- a
  color: <%= @primary_color %> -->
<%# end %>

<div id="widget_wrapper">
  <ul>
  <% @search.entries.each do |entry| %>
    <li class="<%= cycle('even', 'odd') %>">
      <%= link_to truncate(entry.title, 70), entry_path(entry), :class => 'title' %>
      
      <div class="arrowholder">
        <a class="arrow" href="#"></a>
      </div>
      
      <div class="full">
    
        <%#= raise entry.inspect %>
        <dl>
          <dt>Title</dt>
          <dd><%= truncate(entry.title, 200) %></dd>
        
          <dt>Agency</dt>
          <dd><%= entry.agency.name %></dd>
        
          <dt>Date</dt>
          <dd><%= entry.publication_date %></dd>

          <dt>Type</dt>
          <dd><%= entry.type %></dd>
          
          <dt>Abstract</dt>
          <dd><%= truncate(entry.abstract, 600) %></dd>
        </dl>
                
      </div>
    </li>
  <% end %>
  </ul>
  <div id="info_pane">
    <div id="widget_nav">
      <a href="#" title="Back" id="back">Back</a> <a href="#" title="View Entry" id="view_entry">View entry</a>
    </div>
    <div id="info_content">
    </div>  
  </div>
</div>