<style>
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  caption, tbody, tfoot, thead {margin: 0; padding: 0; border: 0;}

  a {
    color: <%= @primary_color %>;
    text-decoration: none;
  }

  
  b {color: <%= @secondary_color %>;}
  
  body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 15px;     
    padding: 10px 0 0 0; 
  }
  
  #widget_container {
  	background: url(/images/widget/widget.png) no-repeat 0 -65px;
  	height: 480px;
  	overflow: hidden;
  	padding: 14px 0 28px 0;
  	position: relative;
  	width: 320px;
  	margin: 0 auto;
  }
  #widget_container ul {
    height: 480px;
    /*border-left: 1px solid #e8ecef;*/
    list-style: none;
    position: absolute;
    width: 310px;
  }
  #widget_container ul li {
    border-bottom: 1px solid #ededed;     
    height: 40px;
    padding: 5px 25px 5px 5px; 
    position: relative;
  }
  #widget_container ul li a {
    display: block;
  }
  #widget_container ul li a.arrow {
    background: url(/images/widget/widget.png) no-repeat 0 -50px;
    display: block;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 18px;
    width: 14px;
  }
  
  #widget_container ul li:hover {
    background: #f1f1f1;
    /*border-left: 5px dashed <%= @secondary_color %>;    */
  }

  #widget_container ul li.odd {
    background: #f6f6f6;
  }
  
  #widget_container ul li .full {
    display: none;
  }
  
  #widget_footer {
  	background: url(/images/widget/widget.png) no-repeat 0 0;	
  	bottom: 0;
  	height: 28px;
  	position: absolute;
  	width: 320px;
  	
  	text-indent: -9999px;
  }
  #widget_footer a {
    background: url(/images/widget/widget.png) no-repeat 0 -29px;
    bottom: 3px;
    display: block;
    height: 21px;
    left: 10px;
  	position: absolute;    
  	width: 105px;
  }
  #widget_footer p {
    background: url(/images/widget/widget.png) no-repeat -165px -33px; 
    bottom: 6px;   
    display: block;
    height: 12px;
  	position: absolute;   
  	right: 10px; 
  	width: 146px;  	
  }  
  
  #widget_border {
    border-left: 5px solid #dde5ea;        
    border-right: 5px solid #dde5ea;
  }
  
  #widget_container #info_pane {
    display: block;
    left: 320px;    
    position: absolute;
    top: 0;
    height: 460px;
    width: 310px;  
    
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;  
  }
  #widget_container #info_content {
    padding: 10px;
  }
  #widget_container #info_content dt {
    border-bottom: 1px solid #ccc;
    /*color: #fa6900;*/
    color: #39505e;
    font-weight: bold;
    margin-bottom: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
  }
  
  #widget_container #info_content dd {
    color: #39505e;
    margin: 0 0 1em 0;
  }
  
  #widget_wrapper {
    position: relative;
    height: 480px;
    width: 640px;
  }
  
  #widget_nav {
    background: grey;
    height: 35px;
  } 
  
  #widget_nav #back {
    background: #444;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    color: #fafafa;
    float: left;
    
    margin: 5px 0 0 5px;
    padding: 3px;
  } 

  #widget_nav #view_entry {
    background: #444;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    color: #fafafa;
    float: right;
    
    margin: 5px 5px 0 0;
    padding: 3px;
  } 
    
  #widget_content {
    padding: 10px;
    display: block;
    left: 320px;    
    position: absolute;
    top: 0;
    height: 460px;
    width: 290px;      
  }
  
</style>


<%# sassify do %>
<!-- a
  color: <%= @primary_color %> -->
<%# end %>

<div id="widget_wrapper">
  <ul>
  <% @search.entries.each do |entry| %>
    <li class="<%= cycle('even', 'odd') %>">
      <%= link_to truncate(entry.title, :length => 75), entry_path(entry), :class => 'title' %>
      <a class="arrow" href="#"></a>
    
      <div class="full">
    
        <%#= raise entry.inspect %>
        <dl>
          <dt>Title</dt>
          <dd><%= truncate(entry.title, :length => 200) %></dd>
        
          <dt>Agency</dt>
          <dd><%= entry.agency.name %></dd>
        
          <dt>Date</dt>
          <dd><%= entry.publication_date %></dd>
          
          <dt>Abstract</dt>
          <dd><%= truncate(entry.abstract, :length => 600) %></dd>
        </dl>
                
      </div>
    </li>
  <% end %>
  </ul>
  <div id="info_pane">
    <div id="widget_nav">
      <a href="#" title="Back" id="back">Back</a> <a href="#" title="View Entry" id="view_entry">View entry</a>
    </div>
    <div id="info_content">
    </div>  
  </div>
</div>