<h3>Login</h3>
<% semantic_form_for :user, user, :url => user_session_path(), :html => {:id => 'login_register_modal'} do |f| %>
  <%= f.error_messages %>
  <%= f.input :sign_in_type, :collection => sign_in_type, :as => :radio, :label => 'Do you have a govpulse.us password?' %>
  <%= render :partial => "users/form", :locals  => {:f => f} %>
  <%= button_to "Login" %>
  <%= link_to 'cancel', '', :class => 'cancel' %>
<% end %>