<h1>Login</h1>
 
<% semantic_form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  
  <% f.inputs do %>
    <%= f.input :email                      %>
    <%= f.input :password, :as => :password %>
  <% end %>

  <%= f.label 'Remember me'    %>
  <%= f.check_box :remember_me %>

  <%= f.submit "Login" %>
<% end %>